body
{
    background-image: url("../Medias/acceuil.jpg");
    font-size: 30px ;
}

h1
{
    font-size: 30px;
    text-align: center;
    color: white;
}

#cadre
{
    display: flex;
    flex-direction:row ;
    width: 100%;
}

#scoreBouton
{
    width: 50%;
}

button
{
    height: 100px;
}

p 
{
    display:inline-block ;
    color: white;
}

#tableau
{
    margin: 50px;
    margin-left: 400px;
    width: 900px;
    height: 100px; 
}
  
td 
{
    width:50px;
    height:50px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

/* Couleurs des cases */
.Tresor {
    background-color: green;
}  
.LigneOK  {
    background-color:orange;
}  
.ColonneOK{
    background-color: yellow;
}   
.MauvaiseCase {
    background-color: red;
}
.Malus {
    background-color: blueviolet;
}  
.Bonus {
    background-color: blue;
}