body {
    background-image: url("../Medias/jeux.jpg");
}

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Algerian';
}

#cadre {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#scoreBouton {
    display: inline;
    text-align: center;
}

button {
    width: 150px;
    height: 100px;
    background-color: rgb(129, 129, 129);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
    font-family: 'Algerian';
}

div {
    color: white;
    font-size: 25px;
    font-family: 'Algerian';
}

/* Contexte pour bonus / malus */
#texte {
    color: white;
    text-align: center;
    background-color: rgb(129, 129, 129);
    font-family: 'Algerian';
}

#tableau {
    margin: 50px;
    margin-left: 400px;
    width: 900px;
    height: 100px;
}

td {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

/* Couleurs des cases */
.Tresor, #vert {
    background-color: green;
}

.LigneOK, #orange {
    background-color: orange;
}

.ColonneOK, #jaune {
    background-color: yellow;
}

.MauvaiseCase, #rouge {
    background-color: red;
}

.Malus, #violet {
    background-color: blueviolet;
}

.Bonus, #bleu {
    background-color: blue;
}